@import "../vendor/material-design-lite/src/material-design-lite.scss";

header.navbar{
  height: 56px;
  background-color: #dddddd;
}

header.navbar .sign-in{
  float: right;
  marging-top: 4px;
}

header.navbar .fa{
  margin-left: 4px;
}
