$laralolz-white         : #FFF;
$laralolz-black         : #000;

$laralolz-main          : #57D180;
$laralolz-main-light    : #7FE3A1;
$laralolz-main-lighter  : #B1F3C7;
$laralolz-main-dark     : #38BD65;
$laralolz-main-darker   : #1BAB4C;

$laralolz-comp          : #FF826B;
$laralolz-comp-light    : #FFA08F;
$laralolz-comp-lighter  : #FFC5BA;
$laralolz-comp-dark     : #FF684C;
$laralolz-comp-darker   : #E94325;