$laralolz-white: #fff;
$laralolz-black: #000;

$laralolz-green:         #57D180;
$laralolz-green-lighter: #B1F3C7;
$laralolz-green-light:   #7FE3A1;
$laralolz-green-dark:    #38BD65;
$laralolz-green-darker:  #1BAB4C;

$laralolz-orange:         #FF826B;
$laralolz-orange-lighter: #FFC5BA;
$laralolz-orange-light:   #FFA08F;
$laralolz-orange-dark:    #FF684C;
$laralolz-orange-darker:  #E94325;