header.branding{
  background-color: $laralolz-comp-dark;
  color: $laralolz-white;
  text-align: center;
}

header.branding img{
  max-width: 100%;
  height: auto;
}

header.branding h4{
  margin-bottom: 0;
}